//
   Created by Sinner on 19-Mar-17.
extends layout
block content
    .container
        h1 About Us
        p Suspendisse gravida tristique quam, vitae imperdiet tellus ornare non. Nunc at commodo enim. Phasellus blandit est in est viverra ornare. Morbi nec lectus vestibulum, pretium lectus et, feugiat diam. Aliquam ligula urna, pretium ac dictum ut, aliquam in mauris. Vivamus a vehicula dui. Vivamus quis tincidunt leo. Integer et libero pulvinar, pharetra nibh eget, fringilla lacus. Duis eu lacinia magna, eget vulputate libero.
        ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Aliquam porta lacus nec eros efficitur, ac imperdiet ipsum viverra.
            li Pellentesque mattis nulla rutrum orci blandit, eu imperdiet dolor pharetra.
        p Use this document as a way to quickly start any new project.
            br
            |  All you get is this text and a mostly barebones HTML document.
