extends layout

block content
    .jumbotron
        .container
            h1 How May I help You?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula.
            a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;

    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non auctor enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac tortor dapibus, rhoncus lorem eget, facilisis nisl. Donec congue mi quam, et semper tortor faucibus eget. Maecenas feugiat lacus at interdum sagittis. Vestibulum sem arcu, gravida sit amet ipsum id, vulputate auctor magna.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non auctor enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac tortor dapibus, rhoncus lorem eget, facilisis nisl. Donec congue mi quam, et semper tortor faucibus eget. Maecenas feugiat lacus at interdum sagittis. Vestibulum sem arcu, gravida sit amet ipsum id, vulputate auctor magna.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non auctor enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac tortor dapibus, rhoncus lorem eget, facilisis nisl. Donec congue mi quam, et semper tortor faucibus eget. Maecenas feugiat lacus at interdum sagittis. Vestibulum sem arcu, gravida sit amet ipsum id, vulputate auctor magna.
                a.btn.btn-default(href='#') View Details

