/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.jumbotron{
  background-color: #c0a16b;
}
footer{
  height: 40px;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  overflow: auto;
}